.square-container {
  width: 500px;
  height: 500px;
  background: orange;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.rotate-square {
  width: 500px;
  height: 500px;
  background: orange;
  animation: rotate 3s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.multi-step-square {
  width: 200px;
  height: 200px;
  background: blue;
  animation: dynamic 4s infinite ease-in-out;
}

@keyframes dynamic {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
    background: red;
  }

  100% {
    transform: scale(1.5) rotate(180deg);
    background: green;
  }
}
