.square-container {
  width: 500px;
  height: 500px;
  background: orange;
  animation: scale 2s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.rotate-square {
  width: 500px;
  height: 500px;
  background: orange;
  animation: rotate 3s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
